---
import Navigation_us from "../../components/Navigation_us.astro";
import Footer_us from "../../components/Footer_us.astro";
import Fab from "../../components/Fab.astro";
import "../../styles/global.css";
import "../../styles/us.css";
---

<html lang="en">
  <head>
    <meta name="robots" content="index, follow" />
    <title>About Us | ASESOLECO-US</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="nosotros-body">
    <Navigation_us />

    <div class="main">
      <h1 style="font-size: 28px;">Nosotros</h1>

      <div class="section1">
        <h2>Welcome to Grupo PCMM.</h2>
        <p>
          We are a global brand with dedicated professionals around the world
          coming together to provide services, consultancy, risk management, and
          all the tools for credit information, collection, legal support, and
          most importantly, instruments for selling with zero losses. You will
          discover the many possibilities in which we can protect your heritage,
          and you will know why we are your best ally when it comes to business.
        </p>
      </div>

      <div class="section2">
        <h3>History</h3>
        <p>
          Since its inception in 2008, Asesoleco has received recognition and
          acceptance throughout the Financial and Business sector thanks to its
          responsiveness, the quality of its information, and its unbeatable
          service. It has thus consolidated itself as a fundamental element in
          the Banking, Industrial, and Commercial environment.
        </p>
      </div>

      <div class="section3">
        <h3>Values and Culture</h3>
        <p>
          Our collaborators share the same values to put them into practice with
          our clients, colleagues, and their communities.
        </p>
      </div>

      <div class="section4">
        <h3>Social Responsibility</h3>
        <p>
          For ASESOLECO in Mexico, Social Responsibility is the commitment to
          work for the benefit of our stakeholders to contribute to a better
          future for all economic and social sectors.
        </p>
      </div>

      <div class="section5">
        <h3>Organization</h3>
        <p>
          We offer our clients global experience and a deep local knowledge of
          their needs.
        </p>
      </div>

      <div class="section6">
        <h3>Quality</h3>
        <p>
          We have adopted the definition of Quality in Professional Services as
          the difference between the service expectations to be received from
          clients and the perception of the services delivered.
        </p>
      </div>
    </div>

    <Fab />
    <Footer_us />
  </body>
</html>
