---
import Navigation_us from "../../components/Navigation_us.astro";
import Footer_us from "../../components/Footer_us.astro";
import Fab from "../../components/Fab.astro";
import "../../styles/aviso.css";
import "../../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" /> 
    <title>Privacy Notice | ASESOLECO-US</title>
  </head>
  <body style="margin: 0;">
    <Navigation_us />
    <div class="txt">
      <h1 style="color: black;">Privacy Notice</h1>

      <p style="color: black;">
        In compliance with the Federal Law on the Protection of Personal Data Held by Individuals ("Law") in force in Mexico, we inform you that this Personal Data Privacy Notice ("Notice") describes how Asesoleco Credit Risk Management SA de CV and its business units "Grupo PCMM," with an address at Pafnuncio Padilla 26 4th floor, may collect and use information provided by you on this website ("Portal").
      </p>

      <ol>
        <li>
          Asesoleco collects only the information requested on this page for the following purposes:
          <ol type="a">
            <li>Identification purposes.</li>
            <li>Statistical purposes.</li>
            <li>
              Eventually contact you via email to respond to your request and monitor the frequency of your use of this Portal for internal administration and analysis purposes.
            </li>
          </ol>
        </li>

        <li>
          Your personal data will never be disclosed or shared with third parties (no data transfer), nor will they be used for purposes other than those indicated in point 1 above, unless there is a change in this Privacy Notice. However, we may hire an external third party to handle and manage this Portal and to help us understand how visitors use it. Even though this third party may collect information about you on our behalf, we control the use of that information according to this Notice. We do not market, sell, or rent personal information about you to a third party without your prior consent or at the express request of the user, such as in cases of merger, acquisition, or sale of assets carried out by Asesoleco.
        </li>

        <li>
          It is warned that Asesoleco may use "cookies" to confirm your identification, customize your access to this Portal, and review your usage, solely for the purpose of improving your navigation and functionality conditions, since personal data is not collected through said "cookies" in terms of the Law. This Portal has links to other external sites, the content and privacy policies of which are not the responsibility of Asesoleco.
        </li>

        <li>
          The Data Protection Facilitator on behalf of the Person in Charge of this Portal (www.Asesoleco.com.mx) is Lic. Araceli Lopez R.
        </li>

        <li>
          Users of this Portal have recognized and may exercise ARCO rights (access, cancellation, rectification, and opposition) by directly sending their request to the Person in Charge through the email account datos.personales@asesoleco.com. This request must contain:
          <ul>
            <li>
              Name and address or another means to communicate the response to your request.
            </li>
            <li>
              Documents proving identity or, where appropriate, legal representation.
            </li>
            <li>
              A clear and precise description of the personal data regarding which one of the ARCO rights is sought to be exercised and any other element that facilitates the location of personal data.
            </li>
          </ul>
        </li>

        <li>
          In this Portal, Asesoleco does not collect sensitive personal data from users. However, if the case arises, express and written consent of the owner will be obtained for its processing, through their handwritten signature, electronic signature, or any authentication mechanism.
        </li>

        <li>
          This Privacy Notice complies with the requirements set by the Law (articles 15 and 16).
        </li>

        <li>
          In the event of any changes to this Privacy Notice, users of the Portal will be notified in the following ways:
          <ul>
            <li>
              Sending an email to the account registered on this Portal.
            </li>
            <li>Posting a visible note on our Portal.</li>
          </ul>
          We will not be responsible if you do not receive the notification of a change in the Privacy Notice if there is any problem with your email account, data transmission over the Internet, or if there was no access to the Portal for any reason not attributable to Asesoleco. For your safety, review the content of this privacy notice on our Portal whenever you wish.
        </li>

        <li>
          We reserve the right to change this Privacy Notice at any time.
        </li>

        <li>
          Laws and regulations in different countries may impose different (and even conflicting) requirements on the Internet and information protection. We are located in Mexico, and all matters related to this Portal are governed by the laws of Mexico. If you are located in any other country outside of Mexico and contact us, please be aware that any information you provide to us will be transferred to Mexico, and by entering your information, you authorize this transfer and accept this Privacy Notice.
        </li>
      </ol>
    </div>
    <Fab />
    <Footer_us />
  </body>
</html>