.content {
  margin: 0;
}

.welcome-header {
  background-color: #ebf5fb;
  text-align: center;
  margin: 0;
  padding: 30px;
}

/* Estilo para .asesoria */
.asesoria {
 display: flex;
 flex-direction: row;
}

.asesoriaimg {
  width: 60%;
}

.asesoria ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  margin: 30px;
}

.asesoria li {
  margin-bottom: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 300;
}

.servicioimg {
  width: auto;
}

.list li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 29, 255, 0.69);
}

/* Estilo para .servicios */

 .servicios { 
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
 }



.servicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.servicios li {
  margin-bottom: 10px;
}

.serviciostext { 
 margin-left: 40px;
}

.conoce-button {
  background-color: rgba(217, 45, 45, 0.75);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
}

/* Estilo para .diferentes */
.diferentes {
  background-image: url("images/corporativos.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 90vh;
}

.txtdiferentes {
  z-index: 100;
  color: #85c1e9;
  background-color: rgba(114, 154, 206, 0.87);
  position: absolute;
  border-radius: 20px;
  margin: 60px;
}

.txtdiferentes p {
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.txtdiferentes h2 {
  margin: 15px 0;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.list {
  text-align: left;
}

