/* Estilos generales */
.content {
  margin: 0;

  background-color: #f5f5f5;
}

.welcome-header {
  background-color: #ebf5fb;
  text-align: center;
  margin: 0;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30%;
}

/* Estilo para .asesoria */
.asesoria {
  display: flex;
  flex-direction: row;
}

.asesoriaimg {
  max-width: 50%;
  margin: 30px;
  flex: 1;
}

.text {
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 0px #969fcd;
  border-radius: 6px;
  padding: 65px;
  background-color: #ddd;
  flex: 1;
}

.asesoria li {
  margin-bottom: 10px;
}

.list li {
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 400;
}

.list li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 29, 255, 0.69);
}

/* Estilo para .servicios */
.servicios {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 10px;
}

.serviciostext {
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 0px #969fcd;
  border-radius: 6px;
  padding: 65px;
  background-color: #ddd;
  flex: 1;
}
.servicioimg {
  max-width: 50%;
  padding: 30px;
  flex: 1;
}

.conoce-button {
  background-color: rgba(0, 60, 255, 0.75);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
  margin-top: 35px;
}
.conoce-button:hover {
  background-color: rgba(67, 51, 207, 0.75);
}
.asesoriaimg,
.servicioimg {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.asesoria:hover .asesoriaimg,
.servicios:hover .servicioimg {
  opacity: 1;
}

/* Estilo para .diferentes */
.diferentes {
  background-image: url("/images/corporativos.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 90vh;
}
p {
  font-size: 18px;
}
.txtdiferentes {
  z-index: 100;
  color: #85c1e9;
  background-color: rgba(114, 154, 206, 0.87);
  position: absolute;
  border-radius: 20px;
  margin: 60px;
  padding: 60px;
}

.txtdiferentes p {
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.txtdiferentes h2 {
  margin: 15px 0;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.list {
  text-align: left;
}

/* Media query para estilos móviles */
@media only screen and (max-width: 1050px) {
  .asesoria,
  .servicios {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .welcome-header {
    background-color: #ebf5fb;
    text-align: center;
    margin: 0;
    padding: 30px;
    position: relative;
  }
  .asesoriaimg,
  .servicioimg {
    opacity: 1;
    width: 50%;
  }
  .translate {
    display: none;
  }
  .asesoria .text,
  .servicios .serviciostext {
    order: -1;
  }

  .text {
    padding: 10px;
  }
  .serviciostext {
    padding: 20px;
  }
  .txtdiferentes {
    padding: 5px;
    margin: 10px;
    z-index: 0;
  }
  .diferentes {
    height: 90vh;
  }
}
