.logo-container {
  background: white;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  z-index: 2;
}

.imglogo {
  padding-right: 100px;
}

.main-nav {
  background-color: rgba(115, 169, 233, 0.8);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbg {
  background-image: url("/images/navbar.png");
  background-size: cover;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.main-nav > a {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 18px;
  margin: 40px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.nav-links {
  transition: all 0.2s linear;
  background-color: #ededed;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-item:hover,
.link-item:active,
.link-item:focus {
  border-bottom: 5px solid #1e44ff;
}

.link-item:visited {
  color: #1d1d1d;
}

.hamburger-container {
  display: none;
}

.button-menu {
  z-index: 200;
  width: 45px;
  height: 40px;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 40px;
  margin-top: 10px;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 7px;
  position: relative;
  background: #1e44ff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: red;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}
@media screen and (max-width: 850px) {
  .hamburger-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(115, 169, 233, 1);
    background-repeat: no-repeat;
    background-position: left center;
  }
  #logoLink {
    display: block;
    width: 100%;
  }
  .imglogo {
    width: 80%;
  }
  .logo-container {
    clip-path: none;
  }

  .main-nav {
    display: none;
  }
  .main-nav.show {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(115, 169, 233, 1);
    margin: 0;
    z-index: 2;
  }
  .main-nav.show > a {
    margin: 60px 0;
  }
  .main-nav.show .imglogo {
    display: none;
  }
  .navbg {
    display: none;
  }
}
