body {
  margin: 0;
  font-family: "Inter";
  background-color: #D9D9D9;
}

.container {
  margin: 0;
}

.tittle {
  position: relative;
  text-align: center;
}

.imgsol {
  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: cover;
  filter: brightness(60%);
  z-index: -2;
}

.soluciones {
  font-size: 4vw;
  font-weight: 300;
  color: white;
  width: 50%;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
  border: 4px solid rgb(99, 145, 201);
  z-index: 1;
  box-sizing: border-box;
}

.servicios-container {
  margin: 100px;
}

.serviciostxt {
  margin: 30px;
}
.txtserv{
  color: black;
  font-size: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 60px; 
  justify-content: space-around;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px; 
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s;
  background-color: rgba(181, 192, 248, 0.4);
  box-shadow: 0 0 10px 0 rgba(108, 249, 249, 0.53);
  height: 100%; 
}

.card:hover {
  transform: scale(1.1); 
}


.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px; 
}

.card button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 768px) {
  .soluciones {
    font-size: 6vw;
    z-index: 1;
    width: 53%;
  }
  .servicios-container {
    margin: 5px;
  }
  .serviciostxt {
    margin: 20px;
  }
  .imgsol {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 40px; 
    justify-content: space-around;
    margin: 20px;
  }
}
