body {
<<<<<<< HEAD
  background-color: #f5f5f5;
}
.main {
  margin: 40px;
=======
  background-color: antiquewhite;
  z-index: 2;
}
.main {
  margin: 40px;
  z-index: 2;
>>>>>>> 41ecdbe7f6e8eac15a9c4847921ec4b812232fe2
  
}
