body {
  background-image: url("/images/usbg.jpg");
  object-fit: cover;
}
.main {
  margin: 40px;
  border: 1px solid rgb(58, 66, 175);
  border-radius: 15px;
  background-color: rgba(182, 233, 255, 0.774);
  box-shadow: 0 0 10px 0 rgba(30, 41, 41, 0.53);
  padding: 20px;
}
