---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Fab from "../components/Fab.astro";
import "../styles/aviso.css";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta name="robots" content="index, follow" />
    <title>Aviso de Privacidad | ASESOLECO-US</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body style="margin: 0;">
    <Navigation />
    <div class="txt">
      <h1 style="color: black;">Aviso de Privacidad</h1>

      <p style="color: black;">
        En atención a la Ley Federal de Protección de Datos Personales en
        Posesión de los Particulares (“Ley”) vigente en México, le informamos
        que este Aviso de Privacidad de Datos Personales ("Aviso") describe cómo
        Asesoleco Credit Risk Management SA de CV y sus unidades de negocio
        “Grupo PCMM” con domicilio en: Pafnuncio Padilla 26 4to piso, podrían
        recolectar y usar información proporcionada por usted en este sitio web
        (“Portal”).
      </p>

      <ol>
        <li>
          Asesoleco recopila solamente la información que en esta página
          solicita con los siguientes propósitos:
          <ol type="a">
            <li>Fines de identificación.</li>
            <li>Fines estadísticos.</li>
            <li>
              Eventualmente contactarlo vía correo electrónico con el fin de
              responder a su solicitud y monitorear la frecuencia de su uso de
              este Portal para administración interna y propósitos de análisis.
            </li>
          </ol>
        </li>

        <li>
          Sus datos personales jamás serán divulgados ni compartidos con
          terceros (no habrá transferencia de datos), ni se les dará un uso
          distinto al señalado en el punto 1 anterior, salvo que medie un cambio
          en este Aviso de Privacidad. No obstante, nosotros podemos contratar a
          un tercero externo para manejar y administrar este Portal y para que
          nos apoye a entender cómo los visitantes lo utilizan. Aún cuando este
          tercero puede recolectar información sobre usted en nuestro nombre,
          nosotros controlamos el uso de esa información de acuerdo con este
          Aviso. No comercializamos, vendemos o rentamos información personal
          sobre usted a un tercero sin un consentimiento previo de su parte o a
          solicitud expresa del usuario como pudiera ser en los casos de fusión,
          adquisición o venta de activos que efectúe Asesoleco.
        </li>

        <li>
          Se hace la advertencia que Asesoleco puede utilizar "cookies" para
          confirmar su identificación, personalizar su acceso a este Portal y
          revisar su uso, con el solo propósito de mejorar su navegación y sus
          condiciones de funcionalidad, toda vez que mediante las citadas
          “cookies” no se recaban datos personales de los usuarios en términos
          de la Ley. Este Portal tiene ligas a otros sitios externos, de los
          cuales el contenido y políticas de privacidad no son responsabilidad
          de Asesoleco.
        </li>

        <li>
          El Facilitador de protección de datos personales por cuenta del
          Responsable de este Portal (www.Asesoleco.com.mx) es la Lic. Araceli
          Lopez R.
        </li>

        <li>
          Los usuarios del presente Portal tienen reconocidos y podrán ejercitar
          los derechos ARCO (acceso, cancelación, rectificación y oposición),
          enviando directamente su solicitud al Responsable a través de la
          cuenta de correo datos.personales@asesoleco.com. Dicha solicitud
          deberá contener:
          <ul>
            <li>
              Nombre y domicilio u otro medio para comunicarle la respuesta a su
              solicitud.
            </li>
            <li>
              Los documentos que acrediten la identidad o, en su caso, la
              representación legal.
            </li>
            <li>
              La descripción clara y precisa de los datos personales respecto de
              los que se busca ejercer alguno de los derechos ARCO y cualquier
              otro elemento que facilite la localización de los datos
              personales.
            </li>
          </ul>
        </li>

        <li>
          En el presente Portal, Asesoleco no recaba datos personales sensibles
          de los usuarios. No obstante, si se diera el caso, se obtendrá el
          consentimiento expreso y por escrito del titular para su tratamiento,
          a través de su firma autógrafa, firma electrónica, o cualquier
          mecanismo de autenticación.
        </li>

        <li>
          Este Aviso de Privacidad cumple con los requisitos que marca la Ley
          (artículos 15 y 16).
        </li>

        <li>
          En caso de que exista algún cambio en este Aviso de Privacidad, se le
          comunicará a los usuarios del Portal de la siguiente manera:
          <ul>
            <li>
              Enviándole un correo electrónico a la cuenta que ha registrado en
              este Portal.
            </li>
            <li>Publicando una nota visible en nuestro Portal.</li>
          </ul>
           No seremos responsables si usted no recibe la notificación de cambio
          en el Aviso de Privacidad si existiere algún problema con su cuenta de
          correo electrónico, de transmisión de datos por Internet o si no se
          tuvo acceso al Portal por cualquier causa no imputable a Asesoleco.
          Por su seguridad, revise en todo momento que así lo desee el contenido
          de este aviso de privacidad en nuestro Portal.
        </li>

        <li>
          Nos reservamos el derecho de cambiar este Aviso de Privacidad en
          cualquier momento.
        </li>

        <li>
          Las leyes y regulaciones de diferentes países pueden imponer
          diferentes requerimientos (e inclusive conflictivos) en el Internet y
          la protección de la información. Nosotros estamos ubicados en México y
          todos los asuntos en relación a este Portal son regidos por las leyes
          de México. Si usted está ubicado en algún otro país fuera de México y
          nos contacta, por favor tome en cuenta que cualquier información que
          usted nos provea será transferida a México, y al momento de ingresar
          su información usted autoriza esta transferencia y la aceptación del
          presente Aviso de Privacidad.
        </li>
      </ol>
    </div>
    <Fab />
    <Footer />
  </body>
</html>
