---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Fab from "../components/Fab.astro";
import "../styles/global.css";
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ASESOLECO</title>
  </head>
  <body style="margin: 0">
    <Navigation />

    <div class="content">
      <h1 class="welcome-header">
        Asesoría jurídica especializada y comercial
      </h1>

      <section class="asesoria">
        <div class="text">
          <h2 style=" font-size: 27px">
            ¿Por qué Asesoleco es la empresa preferida por nuestros clientes?
          </h2>
          <p style=" font-size: 25px">Porque te brindamos una calidad insuperable y beneficios únicos, entre ellos:</p>
          <ul class="list">
            <li>
              Precios únicos y accesibles en América latina, sin sacrificar la calidad de nuestros productos y servicios.
            </li>
            <li>
              Información 100% confiable y garantizada.
            </li>
            <li>Entrega de nuestros informes comerciales inmediatos o máximo en 4 días hábiles.</li>
            <li>Información actualizada con Boletines por sectores de entrega mensual.</li>
            <li>Reportes completos para tomar decisiones sobre clientes y proveedores.</li>
            <li>Visitas físicas en cada informe comercial o crediticio.</li>
            <li>Alta tecnología con Inteligencia artificial como buro jurídico, buro de líneas de crédito y plataforma online de morosos, fraudes  y demandados.</li>
          </ul>
        </div>

        <img
          class="asesoriaimg"
          src="images/asesoria.jpg"
          alt="Asesorias profesionales"
        />
      </section>

      <section class="servicios">
        <img class="servicioimg" src="images/servicios.jpg" alt="Servicios profesionales" />
    
        <div class="serviciostext">
            <h2 style="font-size: 27px">Nuestros Servicios</h2>
            <p style="font-size: 25px">
                Ofrecemos una variedad de servicios adaptados a tus necesidades:
            </p>
            <p>
                Estamos constituidos por un grupo integral de expertos con 18 años de experiencia. Contamos con clientes en todo México, Estados Unidos, Canadá, Colombia, Brasil y Argentina. Nos especializamos en proporcionar soluciones integrales para otorgar créditos seguros con cero pérdidas.
            </p>
            <p>
                Como líderes en el mercado, ofrecemos una gama completa de servicios, incluyendo informes comerciales analíticos, recuperación de cartera vencida y servicios con alta tecnología con plataformas online únicas en América Latina.
            </p>
            <a href="/servicios">
                <button class="conoce-button">Conoce nuestros servicios</button>
            </a>
        </div>
    </section>
    

      <section class="diferentes">
        <div class="txtdiferentes">
          <h2>Sabemos proporcionar a Nuestros Clientes los mejores resultados</h2>
          <p>
            Como filial de Grupo Plataforma contra la Morosidad (GRUPO PCMM) entendemos la importancia de tomar decisiones financieras sólidas y respaldadas por expertos.
          </p>

          <h2>Confía en Nosotros</h2>
          <p class="confianza">
            ¿Has experimentado dificultades al obtener información precisa y confiable sobre los riesgos crediticios?

 <br />
            <br /> ¿Deseas mejorar la gestión de tu empresa y reducir los riesgos financieros?
          </p>
        </div>
      </section>
    </div>
    <Fab />
    <Footer />
  </body>
</html>
