---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Fab from "../components/Fab.astro";
import "../styles/global.css";
import "../styles/servicios.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Servicios | ASESOLECO</title>
  </head>
  <body>
    <Navigation />

    <div class="container">
      <div class="tittle">
        <img class="imgsol" src="images/soluciones.png" alt="" />
        <p class="soluciones">SERVICIOS</p>
      </div>
      <div class="servicios-container">
        <div class="serviciostxt">
          <p class="txtserv">
            Contamos con un equipo de abogados y consultores altamente
            capacitados en áreas clave como riesgos, crédito, cobranza y
            negocios. Cada uno de ellos es un especialista en su materia,
            brindando asesoría legal de primera calidad.
          </p>

          <p class="txtserv">
            Entre las soluciones que provee nuestra empresa de especialistas en
            negocios se encuentran:
          </p>
        </div>

        <div class="cards">
          <div class="card">
            <img src="images/informe.jpg" alt="Descripción de la imagen" />
            <p class="txtcard">Informes Comerciales.</p>
            <a href="../servicios/comerciales"><button>Acceder</button></a>
          </div>

          <div class="card">
            <img src="images/informexpres.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">Informes Comerciales Exprés.</p>

            <a href="../servicios/expres"><button>Acceder</button></a>
          </div>
          <div class="card">
            <img src="images/plataforma.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">Plataforma online y Buro jurídico.</p>

            <a href="../servicios/plataforma"><button>Acceder</button></a>
          </div>
          <div class="card">
            <img src="images/buro.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">
              Consultas de Registro Público de la Propiedad y Comercio.
            </p>

            <a href="../servicios/comercio"><button>Acceder</button></a>
          </div>
          <div class="card">
            <img src="images/alertas.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">Sistema de alertas.</p>

            <a href="../servicios/alertas"><button>Acceder</button></a>
          </div>
          <div class="card">
            <img src="images/cartera.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">Recuperación de cartera vencida.</p>

            <a href="../servicios/cartera"><button>Acceder</button></a>
          </div>
          <div class="card">
            <img src="images/credito.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">Buro de líneas de crédito.</p>

            <a href="../servicios/lineas"><button>Acceder</button></a>
          </div>
          <div class="card">
            <img src="images/seguros.jpg" alt="Descripción de la imagen" />

            <p class="txtcard">
              Implementación de sistemas de otorgamiento de Créditos Seguros.
            </p>

            <a href="../servicios/cseguros"><button>Acceder</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <Fab />
  <Footer />
</html>
