---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Fab from "../components/Fab.astro";
import "../styles/global.css";
import "../styles/servicios.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Servicios | ASESOLECO</title>
  </head>
  <body>
    <Navigation />

    <div class="container">
      <div class="tittle">
        <img class="imgsol" src="images/soluciones.png" alt="" />
        <p class="soluciones">SERVICIOS</p>
      </div>
      <div class="solucionestxt">asd</div>
    </div>
    <Fab />
    <Footer />
  </body>
</html>
