---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Fab from "../components/Fab.astro";
import "../styles/global.css";
import "../styles/servicios.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Servicios | ASESOLECO</title>
  </head>
  <body>
    <Navigation />

    <div class="container">
      <div class="tittle">
        <img class="imgsol" src="images/soluciones.png" alt="" />
        <p class="soluciones">SERVICIOS</p>
      </div>
      <div class="servicios-container">
        
        <div class="serviciostxt">
          <p class="txtserv">Contamos con un equipo de abogados y consultores altamente capacitados en áreas clave como riesgos, crédito, cobranza y negocios. Cada uno de ellos es un especialista en su materia, brindando asesoría legal de primera calidad.</p>
      
          <p class="txtserv">Entre las soluciones que provee nuestra empresa de especialistas en negocios se encuentran:</p>
        </div>

          <div class="cards">

            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Informes Comerciales.</p>
            
              <button>Acceder</button>
            </div>

            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Informes Express.</p>
            
              <button>Acceder</button>
            </div>
            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Plataforma online.</p>
            
              <button>Acceder</button>
            </div>
            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Buro jurídico.</p>
            
              <button>Acceder</button>
            </div>
            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Sistema de alertas.</p>
            
              <button>Acceder</button>
            </div>
            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Especialistas de recuperación de cartera vencida.</p>
            
              <button>Acceder</button>
            </div>
            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Buro de líneas de crédito.</p>
            
              <button>Acceder</button>
            </div>
            <div class="card">
              <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
            
              <p class="txtcard">Asesoría para  implementación de sistemas de otorgamiento de Créditos Seguros.</p>
            
              <button>Acceder</button>
            </div>
            
              </div>
          </div>
        </div>
    </div>
    <Fab />
    <Footer />
  </body>
</html>
