---
import "../styles/fab.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/eb496ab1a0.js"
      crossorigin="anonymous"></script>
  </head>
  <!--FAB-->
  <div class="containerfab">
    <input type="checkbox" id="btn-mas" />
    <div class="redes">
      <a
        href="https://www.facebook.com/PlataformaContraLaMorosidad"
        target="_blank"
        class="fa fa-facebook"></a>
      <a
        href="https://api.whatsapp.com/send/?phone=+5215547575003&text=Estoy+interesado+en+los+servicios+de+ASESOLECO,+deseo mas información.&type=phone_number&app_absent=0"
        target="_blank"
        class="fa fa-whatsapp"></a>
      <a href="/contacto" class="fa fa-phone"></a>
      <a href="/chat" class="fa fa-robot"></a>
    </div>
    <div class="btn-mas">
      <label for="btn-mas" class="fa fa-plus"></label>
    </div>
  </div>


  <!--/FAB-->
</html>
