---
import "../styles/global.css";
import "../styles/footer.css";
const FacebookIcon = "/icons/facebook.png";
const YoutubeIcon = "/icons/youtube.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Asesoleco</title>
  </head>

  <body style="margin: 0;">
    <!-- Tu contenido principal aquí -->

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h4 style="text-align: center">Síguenos en redes sociales</h4>
          <ul>
            <li>
              <a
                href="https://www.facebook.com/PlataformaContraLaMorosidad"
                style="margin-top: 10px; "
              >
                <img
                  src={FacebookIcon}
                  alt="Facebook Icon"
                  style="width: 24px; height: auto; margin-right: 5px; margin-bottom: -5px;"
                />
                 Facebook
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@PLATAFORMACONTRALAMOROSIDADPCM"
                style="padding:30px"
              >
                <img
                  src={YoutubeIcon}
                  alt="Youtube Icon"
                  style="width: 30px; height: auto; margin-right: 5px; ; margin-bottom: -10px;"
                />
                 Youtube
              </a>
            </li>
          </ul>
        </div>

        <div
          class="footer-section2"
          style="display: flex; justify-content: center; align-items: center;"
        >
          <!-- Logo 1 -->
          <a href="https://mastercollect.com.mx/" class="logo1" target="_blank">
            <img src="/images/masterlogo.png" alt="Mastercollect" />
          </a>

          <!-- Logo 2 -->
          <a
            href="http://www.plataformacontralamorosidad.com/home.php"
            class="logo2"
            target="_blank"
          >
            <img
              class="logo2"
              src="/images/pcmlogo.png"
              alt="Plataforma Contra la Morosidad"
            />
          </a>

          <!-- Logo 3 -->
          <a href="/" class="logo3">
            <img src="/images/logo.png" alt="Asesoleco" />
          </a>
        </div>

        <div class="footer-section3">
          <h4>Links de interés</h4>
          <ul>
            <li><a href="/Aviso-Privacidad">Aviso de Privacidad</a></li>
            <li>
              <a href="/files/Brochure_Plataforma.pdf" target="_blank"
                >Brochure Plataforma Contra La Morosidad</a>
            </li>
            <li>
              <a href="https://mastercollect.com.mx/" target="_blank"
                >Mastercollect</a>
            </li>
            <li>
              <a
                href="http://www.plataformacontralamorosidad.com/home.php"
                target="_blank">Plataforma Contra la Morosidad</a>
            </li>
            <li><a href="/FAQ">FAQ - Preguntas Frecuentes</a></li>
            <li><a href="#" target="_blank">Desarrollo y Soporte</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <p style="text-decoration: underline;">
          &copy; 2023 Asesoleco. Todos los derechos reservados.
        </p>
        <p>
          Powered by <a href="#" style="text-decoration: underline;"
            >Hckld@Dev</a>
        </p>
      </div>
    </footer>
  </body>
</html>
