---
import "../styles/global.css";
import "../styles/footer.css";
import Btnclientesfooter_us from "./btnclientesfooter_us.astro";
import Translatebtn from "./Translatebtn.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="/image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Asesoleco</title>
  </head>

  <body style="margin: 0;">
    <!-- Your main content here -->

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h4 style="text-align: center">Follow us on social media</h4>
          <ul>
            <li>
              <a
                href="https://www.facebook.com/PlataformaContraLaMorosidad"
                target="_blank"
                style="margin-top: 10px; "
              >
                <img
                  src="/images/facebook.png"
                  alt="Facebook Icon"
                  style="width: 24px; height: auto; margin-right: 5px; margin-bottom: -5px;"
                />
                 Facebook
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@PLATAFORMACONTRALAMOROSIDADPCM"
                target="_blank"
              >
                <img
                  src="/images/youtube.png"
                  alt="Youtube Icon"
                  style="width: 30px; height: auto; margin-right: 5px; ; margin-bottom: -10px;"
                />
                 Youtube
              </a>
            </li>
          </ul>

          <br />

          <Translatebtn />
        </div>

        <div
          class="footer-section2"
          style="display: flex; justify-content: center; align-items: center;"
        >
          <!-- Logo 1 -->
          <a href="https://mastercollect.com.mx/" class="logo1" target="_blank">
            <img src="/images/masterlogo.png" alt="Mastercollect" />
          </a>

          <!-- Logo 2 -->
          <a
            href="http://www.plataformacontralamorosidad.com/home.php"
            class="logo2a"
            target="_blank"
          >
            <img
              class="logo2"
              src="/images/pcmlogo.png"
              alt="Plataforma Contra la Morosidad"
            />
          </a>

          <!-- Logo 3 -->
          <a href="/us/home" class="logo3">
            <img src="/images/logo.png" alt="Asesoleco" />
          </a>
        </div>

        <div class="footer-section3">
          <h4>Interesting links</h4>
          <ul>
            <li><a href="/us/privacypolicy">Privacy Policy</a></li>
            <li>
              <a href="/files/Brochure_Plataforma.pdf" target="_blank"
                >Brochure Platform Against Delinquency</a
              >
            </li>
            <li>
              <a href="https://www.plataformajuridica.com.mx/" target="_blank"
                >Legal Platform</a
              >
            </li>
            <li>
              <a href="https://mastercollect.com.mx/" target="_blank"
                >Mastercollect</a
              >
            </li>
            <li>
              <a
                href="http://www.plataformacontralamorosidad.com/home.php"
                target="_blank">Platform Against Delinquency</a
              >
            </li>
            <li><a href="/chat">FAQ - Frequently Asked Questions</a></li>
            <li>
              <a href="/mnto_us" target="_blank">Development and Support</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <Btnclientesfooter_us />

        <p style="text-decoration: underline;">
          &copy; 2023 Asesoleco. All rights reserved.
        </p>
        <p>
          Powered by <a href="/mnto_us" style="text-decoration: underline;"
            >Hckld@Dev</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
