---
import "../styles/global.css";
import "../styles/navbar.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <nav class="navigation">
      
      
      <div class="logo-container">
        <a href="/"><img
            class="imglogo"
            src="/images/banner.png"
            alt="Logo"
          /></a>
      </div>
   
  
      <div class="links">
        <a href="/">Inicio</a>
        <a href="#">Soluciones</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
      </div>
    </nav>
  </body>
</html>
