---
import "../styles/global.css";
import "../styles/navbar.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

  </head>
  <body style="margin: 0;">
    <!-- Navigation Bar -->
    <nav id="nav" class="main-nav">
      
      <!-- Logo -->
      <div class="logo-container">
        <a href="/us/home"
          ><img class="imglogo" src="/images/banner.png" alt="Logo" /></a
        >
      </div>
      <div class="navbg"></div>
      <!-- Navigation Links -->

      <a class="link-item" href="/us/home">HOME</a>
      <a class="link-item" href="/us/services">SERVICES</a>
      <a class="link-item" href="/us/about">ABOUT</a>
      <a class="link-item" href="/us/contact">CONTACT</a>
    </nav>
    <!-- Responsive Button -->
    <div class="hamburger-container">
      <a href="/us/home" id="logoLink">
        <img class="imglogo" src="/images/logo.png" alt="Logo" />
      </a>
      <button id="button-menu" class="button-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <script>
      const toggleButton = document.getElementById("button-menu");
      const navWrapper = document.getElementById("nav");

      toggleButton.addEventListener("click", toggleMenu);

      function toggleMenu() {
        toggleButton.classList.toggle("close");
        navWrapper.classList.toggle("show");
        window.scrollTo(0, 0);
      }

      function closeMenu() {
        toggleButton.classList.remove("close");
        navWrapper.classList.remove("show");
        window.scrollTo(0, 0);
      }
    </script>
  </body>
</html>
