<style>
  .contenido {
    text-align: center;
    margin: 10px;
  }
  .boton-regresar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    background-color: #0e5381;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  .boton-regresar:hover {
    background-color: #2980b9;
  }
</style>
<div class="contenido">
  <a href="/servicios" class="boton-regresar">Regresar</a>
</div>
