---
import Navigation from "../../components/Navigation.astro";
import Fab from "../../components/Fab.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ASESOLECO | Sistema de alertas.</title>
  </head>
  <body>
    <Navigation />
    <Fab />
    <Footer />
  </body>
</html>