---
import Navigation from "../../components/Navigation.astro";
import Fab from "../../components/Fab.astro";
import Footer from "../../components/Footer.astro";
import Returnbutton from "../../components/returnbutton.astro"; 
import "../../styles/global.css";
import "../../styles/services/comerciales.css";
import "../../styles/services/banner.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ASESOLECO | Consultas de Registro Público de la Propiedad y Comercio.</title>
  </head>
  <body>
    <Navigation />
    <div class="banner">
      <img class="bannerimg" src="/images/comercial.jpg"></img>
      <p class="tittle" style="top:10%">CONSULTAS DE REGISTRO PUBLICO DE PROPIEDAD Y COMERCIO</p>
    </div>
    <Returnbutton/>
    <Fab />
    <Footer />
  </body>
</html>