---
import Navigation from "../../components/Navigation.astro";
import Fab from "../../components/Fab.astro";
import Footer from "../../components/Footer.astro";
import Returnbutton from "../../components/returnbutton.astro";
import "../../styles/global.css";
import "../../styles/services/comerciales.css";
import "../../styles/services/banner.css";
---

<!doctype html>
<html lang="es">
  <head>
    <title>ASESOLECO | Informes Comerciales</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navigation />
    <div class="banner">
      <img class="bannerimg" src="/images/informer.jpg" alt="expres" />
    </div>
    <p class="tittle">INFORMES COMERCIALES EXPRÉS</p>
  </body>
  <div class="contain">
    <p>
      Entrega inmediata o máxima en 12 horas. Nuestro Informe Exprés ofrece una
      visión rápida y precisa de la solvencia crediticia de tus socios
      comerciales, clientes potenciales y proveedores. Tiene los mismos
      beneficios del informe comercial, sin embargo, la única diferencia es que
      no se visita al investigado.
    </p>

    <p>Ventajas:</p>

    <ul>
      <li>Evaluación Instantánea de Riesgo.</li>
      <li>
        Agilidad y Eficiencia en la Toma de Decisiones: La rapidez es esencial
        en el mundo de los negocios.
      </li>
      <li>Datos Claros y Accesibles.</li>
      <li>Actualización del informe sin costo por 6 meses.</li>
      <li>Prevención de Fraudes y Actividades Ilícitas.</li>
      <li>Reducción del Riesgo Crediticio.</li>
      <li>
        Cubrimos todo México, Estados Unidos, Canadá, Latinoamérica y
        Sudamérica.
      </li>
      <li>El costo es el mismo en todo México. (1 unidad = informe)</li>
    </ul>
  </div>

  <Returnbutton />
  <Fab />
  <Footer />
</html>
