---
import Navigation from "../../components/Navigation.astro";
import Fab from "../../components/Fab.astro";
import Footer from "../../components/Footer.astro";
import Returnbutton from "../../components/returnbutton.astro";
import "../../styles/global.css";
import "../../styles/services/comerciales.css";
import "../../styles/services/banner.css";
---

<!doctype html>
<html lang="es">
  <head>
    <title>ASESOLECO | Buro de líneas de crédito.</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navigation />
    <div class="banner">
      <img class="bannerimg" src="/images/lineas.jpg" alt="lineas" />
    </div>
    <p class="tittle">BURO DE LINEAS DE CREDITO</p>
  </body>
  <div class="contain">
    <p>
      Obtén líneas máximas otorgadas e ingresos con información de Canadá hasta
      Brasil. Nuestra plataforma está diseñada para proporcionar información
      clave de manera rápida y eficiente, enfocándonos en dos aspectos
      fundamentales: la línea de crédito máxima disponible y el último ingreso
      anual reportado. Descubre cómo nuestro servicio puede acelerar tus
      procesos de evaluación crediticia.
    </p>

    <p>Ventajas:</p>

    <ul>
      <li>Interfaz Intuitiva y Accesible.</li>
      <li>Seguridad y Confidencialidad.</li>
      <li>Actualizaciones Constantes.</li>
    </ul>

    <p>
      Buro de Líneas de Crédito puede potenciar tu capacidad para tomar
      decisiones de aumento de líneas de crédito, y complemento para
      otorgamiento de créditos rápidos. Con información instantánea sobre la
      línea de crédito máxima y el último ingreso anual reportado, estarás
      equipado para evaluar el riesgo crediticio de manera rápida y eficiente.
    </p>
  </div>

  <Returnbutton />
  <Fab />
  <Footer />
</html>
